<h1>Autores</h1>

<a href="/autores/novo/">Novo Autor</a>

<hr>

<table border="1">
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
    </tr>

    {% for autor in autores %}
    <tr>
        <td>{{ autor.nome }}</td>
        <td>{{ autor.email }}</td>

        <td>
            <a href="/autores/editar/{{ autor.id }}/">
                Editar
            </a>

            |

            <a href="/autores/excluir/{{ autor.id }}/">
                Excluir
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

<br>

<a href="/">Voltar</a>